@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font para hiragana y katakana */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  font-family: 'Roboto', 'Noto Sans JP', system-ui, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-1: #D7FDF0;
  --color-2: #B2FFD6;
  --color-3: #B4D6D3;
  --color-4: #B8BAC8;
  --color-5: #AA78A6;
}


body {
  background-color: var(--color-1);
  color: var(--color-5);
  font-size: 16px;
  /* line-height: 1.5; */
}