@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font para hiragana y katakana */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    font-family: 'Roboto', 'Noto Sans JP', system-ui, sans-serif;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-1: #D7FDF0;
    --color-2: #B2FFD6;
    --color-3: #B4D6D3;
    --color-4: #B8BAC8;
    --color-5: #AA78A6;
    --color-6: #2B1A2F;

    --font-family: 'Roboto', 'Noto Sans JP', system-ui, sans-serif;
}


body {
    background-color: var(--color-5);
    color: var(--color-1);
    font-size: 16px;
    /* line-height: 1.5; */
    margin: 0;
}

/* main {
  padding: 2rem;
  height: 100vh;
} */

/* button {

} */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-5);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: var(--color-6);
}